<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pstype_v1">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="PSType"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name="com.vk.sdk.VKOpenAuthActivity" />
        <activity android:name=".main.general" />
        <activity android:name=".main.register" />
        <activity android:name=".main.sign" />
        <activity android:name=".main.Maps" />
        <activity
            android:name=".useful.Splash"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".useful.MyPreferenceActivity"
            android:label="Настройки"
            android:theme="@style/AppTheme" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyC8uZOn0qeBWqA4kt7BX9OS-9kiPIzWcm0" />

        <activity
            android:name=".main.welcome"
            android:label="@string/title_activity_welcome"
            android:theme="@style/AppTheme.NoActionBar" />

        <service
            android:name=".useful.tracking"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".main.Statistics"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".main.profile"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".main.profile_change"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".useful.debugging_log"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".main.tracks"
            android:theme="@style/AppTheme" />
        <activity android:name=".main.addSignup"></activity>
    </application>

</manifest>